.work-sans-Architects {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Dark 2 */
.text-gray{
  color:#424242;
}
/* Dark-3 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
/* Share related Styles */
.display-flex{
  display: flex;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
  font-weight:600;
  font-size: 1.5rem;

}
/* Navver related Styles */
.Nav-var{
  justify-content: space-between;
  align-items: center;
  
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  margin-right: 30px;
  font-weight:500;
}
.Nav-var,.banner{
  max-width: 1440px;
  margin: 0 auto;

}
/* Banner Styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle{
  font-weight: 700;
  font-size: 4rem;
}
.image{
  width: 100%;
  margin-bottom: 45px;
}

/* main styles */
main,footer{
  max-width: 1440px;
  margin: 0 auto;

}

.copyright, main > section{
  margin-top: 130px;
}
.Teams-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.Teams-title{
  font-size: 2.8rem;
  font-weight: 700;
}
.Teams{
  align-items: center;
}

.Teams-features{
  margin-left: 90px;
}

/* features enjoy styles */
.Featured-you-enjoy{
  gap: 42px;
}
.Featured-title{
  margin-right: 145px;
  
}
.title-description{
  margin-right: 54px;
  margin-bottom: 0px;
}

.others-features{
  padding: 40px 42px 30px 30px;
  max-width: 100%;
  max-height: 100;
  margin-top: 0px;
}
.architect{
  max-width: 100%;
  margin-top: 30px;
}
.experience-badge{
  padding: 45px 42px;
  font-weight: 500px;
  font-size: 1.5rem;
  margin-top: -100px;
  margin-left: -150px;
}
.Experience-year{
  font-weight: 900;
  font-size: 4rem;
}
/* Some facts styles */
.some-facts{
  text-align: left;
}
.fact-container{
  display: flex;
  justify-content: space-around;

  
}
.facts{
  border: 2px solid #FF900E ;
  border-radius: 8px;
  padding: 44px 55px 0px 55px;
  text-align: center;
}
.fact-icon{
  margin: 0px;
}
.fact-number{
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
.fact-name{
  margin-top: 0px;
  font-size: 20px;

}

/* sponsor styles */
.sponsor-title{
  text-align: center;
  margin-top: 180px;
}
.sponsor-logo{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 50px;
}
.copyright{
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  font-size: 20px;
}


/* Responsive */
@media screen and (max-width:576px) {
  .Nav-var, .nav-links , .Teams, .Featured-you-enjoy, .fact-container{
    flex-direction: column;
  }
  .Teams-img{
    grid-template-columns: repeat(1,1fr);
  }
  .Teams-features{
    margin-left: 0;
    text-align: center;
  }
  .fact-container{
    margin: 0 50px;
  }
  .facts{
    margin-bottom: 30px;
  }
  .sponsor-logo{
    grid-template-columns: repeat(2,1fr);
  }
  .logo{
    margin-bottom: 50px;
  }
  .copyright{
    margin-top: 0px;
  }
  .sponsor-title, .Featured-you-enjoy, .some-facts {
    margin-top: 0px;
  }
  .experience-badge{
    margin-left: 0;

  }
}
@media screen and (min-width:576px) and (max-width:992px) {
  .Teams-features{
    margin-left: 5px;
  }
  .Teams{
    flex-direction: column;
  }
  .facts{
    margin-right: 10px;
   
  
  }
  .Featured-you-enjoy{
    flex-direction: column;
    margin-right: 0;
  }
  .architect{
   text-align: center;
  }
  .sponsor-title, .Featured-you-enjoy, .some-facts, .copyright {
    margin-top: 0px;
  }
  ..experience-badge{
    margin-right: -200px;

  }
}