.work-sans-Architects {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Dark 2 */
.text-gray{
  color:#424242;
}
/* Dark-3 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
/* Share related Styles */
.display-flex{
  display: flex;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
  font-weight:600;
  font-size: 1.5rem;

}
/* Navver related Styles */
.Nav-var{
  justify-content: space-between;
  align-items: center;
  
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  margin-right: 30px;
  font-weight:500;
}
.Nav-var,.banner{
  max-width: 1440px;
  margin: 0 auto;

}
/* Banner Styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle{
  font-weight: 700;
  font-size: 4rem;
}
.image{
  width: 100%;
  margin-bottom: 45px;
}

/* main styles */
main{
  max-width: 1440px;
  margin: 0 auto;

}

main > section{
  margin-top: 130px;
}
.Teams-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.Teams-title{
  font-size: 45px;
}
.Teams{
  align-items: center;
}

.Teams-features{
  margin-left: 90px;
  max-width: 540px;
}

/* warrenty-features styles */
/* Responsive */
@media screen and (max-width:576px) {
  .Nav-var, .nav-links , .Teams{
    flex-direction: column;
  }
  .Teams-img{
    grid-template-columns: repeat(1,1fr);
  }
  .Teams-features{
    margin-left: 0;
    text-align: center;
  }
}